@let pageContent = $pageContent();
<div class="footer-links-settings-content-wrapper display-flex flex-column gap-2">
  <section
    class="footer-links-settings-banner border-top-2px border-base-lighter width-full display-flex gap-1 usa-prose flex-column">
    <h1 class="margin-0" i18n>{{ pageContent?.title ? pageContent!.title : 'Footer Links' }}</h1>
    <p class="margin-0 usa-prose measure-4" i18n>
      {{
        pageContent?.description
          ? pageContent!.description
          : 'Customize your adapt footer links with additional information.'
      }}
    </p>
  </section>

  <section class="footer-links-settings-options display-flex flex-column gap-2">
    <div
      class="footer-links-settings-option text-no-underline display-flex flex-column gap-2 bg-white padding-2 border-2px radius-lg border-base-lighter">
      <div class="footer-links-settings-option-wrapper display-flex flex-justify gap-05">
        <div class="footer-links-settings-option-information display-flex flex-column gap-2">
          <h2 class="margin-0 font-xl text-no-underline">
            {{ (pageContent?.sections)![0].header ? (pageContent?.sections)![0].header : 'Links' }}
          </h2>
          <p class="text-black usa-prose measure-4 text-no-underline">
            {{
              (pageContent?.sections)![0].description
                ? (pageContent?.sections)![0].description
                : 'Configure your footer links.'
            }}
          </p>
        </div>

        <div class="footer-links-settings-option-controls">
          <button (click)="editLinks = !editLinks" class="usa-button usa-button--outline">
            {{
              editLinks
                ? pageContent!.actions!['close_button']
                  ? pageContent!.actions!['close_button']
                  : 'Close'
                : pageContent!.actions!['edit_button']
                  ? pageContent!.actions!['edit_button']
                  : 'Edit'
            }}
          </button>
        </div>
      </div>

      <div *ngIf="editLinks" class="footer-links-settings-option-edit border-top-2px padding-top-2 border-base-light">
        <form
          (ngSubmit)="onSave()"
          [formGroup]="footerLinksForm"
          class="footer-links-settings-logo-form display-flex flex-column gap-2">
          <ul formArrayName="links" class="usa-list usa-list--unstyled display-flex flex-column gap-2">
            <li *ngFor="let item of links.controls; let i = index">
              <div class="footer-link-controls display-flex flex-column gap-2" [formGroup]="$any(item)">
                <div class="footer-links-control-row display-flex width-full gap-2">
                  <lib-adapt-text-input
                    class="flex-1"
                    formControlName="label"
                    [label]="(pageContent?.sections)![0].questions![0].label"></lib-adapt-text-input>
                  <lib-adapt-text-input
                    class="flex-1"
                    formControlName="url"
                    [label]="(pageContent?.sections)![0].questions![1].label"></lib-adapt-text-input>
                </div>
                <div class="footer-links-control-row flex-align-center display-flex gap-2">
                  <lib-adapt-checkbox
                    formControlName="external"
                    [label]="(pageContent?.sections)![0].questions![2].label"></lib-adapt-checkbox>

                  <lib-adapt-combo-box
                    class="flex-1"
                    formControlName="target"
                    [label]="(pageContent?.sections)![0].questions![3].label"
                    itemAccessor="value"
                    itemLabel="label"
                    [items]="targetOptions"></lib-adapt-combo-box>
                  <lib-adapt-text-input
                    class="flex-1"
                    formControlName="icon"
                    [label]="(pageContent?.sections)![0].questions![4].label"></lib-adapt-text-input>
                </div>
              </div>
            </li>
            <button (click)="addLink()" class="usa-button usa-button--outline flex-align-self-start">
              {{ pageContent!.actions!['add_button'] ? pageContent!.actions!['add_button'] : 'Add Footer Link' }}
            </button>
          </ul>

          <button class="usa-button flex-align-self-start">
            {{ pageContent!.actions!['save_button'] ? pageContent!.actions!['save_button'] : 'Save' }}
          </button>
        </form>
      </div>
    </div>
  </section>
</div>

<lib-adapt-confirm-modal (confirm)="confirmed = true"></lib-adapt-confirm-modal>
