<aside
  #navigation
  class="usa-in-page-nav margin-left-0 margin-top-0"
  [attr.data-title-text]="titleText"
  [attr.data-main-content-selector]="selector"
  [attr.data-title-heading-level]="headingLevel"
  [attr.data-heading-elements]="headingElements"
  data-scroll-offset="0"
  data-root-margin="-999999px 0px -999999px 0px"
  data-threshold="1">
  <nav aria-label="Categories:" class="usa-in-page-nav__nav">
    <!-- <h2 class="usa-in-page-nav__heading" tabindex="0">{{titleText}}</h2> -->
    <!-- <ul class="usa-in-page-nav__list">
            <li class="usa-in-page-nav__item usa-in-page-nav__item--primary"  *ngFor="let link of links;">
                <a [routerLink]="['./']" [fragment]="link.fragment" class="usa-in-page-nav__link">{{link.label}}</a>
            </li>
        </ul> -->
  </nav>
</aside>
