.section-selected {
  color: var(--usa-primary) !important;
  border-bottom: var(--usa-spacing-05) solid;
}

.data-management-route {
  color: var(--usa-gray-5);
  text-decoration: none; /* no underline */
}

.usa-tag {
  margin: 0;
}
