<section class="data-sources-settings-container grid-container gap-4 display-flex flex-column">
  <section
    aria-label="Data Source Settings Heading"
    role="region"
    class="data-sources-settings-banner width-full display-flex gap-2 flex-column">
    <div class="usa-prose">
      <h1 class="margin-0" i18n>User Management</h1>
      <p class="margin-bottom-0 measure-4" i18n>
        Manage your adapt users effectively. Add, configure, and deactivate users.
      </p>
    </div>
  </section>

  <adapt-list-view
    [altIcon]="false"
    recentSortField="attributes.given_name"
    sortDirection="asc"
    sortIcon="fa-sort-alpha"
    [dataList]="$users"
    currentList="users"></adapt-list-view>
</section>
