<div class="accessibility-settings-content-wrapper display-flex flex-column gap-2">
  <section
    class="accessibility-settings-banner border-top-2px border-base-lighter width-full display-flex gap-1 usa-prose flex-column">
    <h1 class="margin-0" i18n>Accessibility</h1>
    <p class="margin-0 usa-prose measure-4" i18n>
      Ensure the platform is universally accessible by managing features that support users with disabilities,
      emphasizing inclusivity.
    </p>
  </section>

  <section class="accessibility-settings-options display-flex flex-column gap-2">
    <div
      class="accessibility-settings-option text-no-underline flex-justify display-flex bg-white padding-2 border-2px radius-lg border-base-lighter gap-05">
      <div class="accessibility-settings-option-information display-flex flex-column gap-2">
        <h2 class="margin-0 font-xl text-no-underline">Accessibility Statement</h2>
        <p class="text-black usa-prose measure-4 text-no-underline">
          Craft a clear Accessibility Statement that outlines the inclusive measures and supports available for users
          with disabilities.
        </p>

        <div class="accessibility-settings-option-information-tags-updated flex-align-center display-flex gap-1">
          <span class="usa-tag bg-base-lightest text-ink">Accessibility</span>
          <span class="usa-tag bg-base-lightest text-ink">Footer</span>
          <span class="text-base">Updated on March 26, 2024 by Dillon Blevins</span>
        </div>
      </div>

      <div class="accessibility-settings-option-controls">
        <button class="usa-button usa-button--outline">Edit</button>
      </div>
    </div>

    <div
      class="accessibility-settings-option text-no-underline flex-justify display-flex bg-white padding-2 border-2px radius-lg border-base-lighter gap-05">
      <div class="accessibility-settings-option-information display-flex flex-column gap-2">
        <h2 class="margin-0 font-xl text-no-underline">VPATs</h2>
        <p class="text-black usa-prose measure-4 text-no-underline">
          Display your Voluntary Product Accessibility Templates (VPATs) to transparently showcase how ADAPT components
          comply with accessibility standards.
        </p>

        <div class="accessibility-settings-option-information-tags-updated flex-align-center display-flex gap-1">
          <span class="usa-tag bg-base-lightest text-ink">Accessibility</span>
          <span class="usa-tag bg-base-lightest text-ink">Footer</span>
          <span class="text-base">Updated on March 26, 2024 by Dillon Blevins</span>
        </div>
      </div>

      <div class="accessibility-settings-option-controls flex-align-start">
        <button class="usa-button usa-button--outline">Edit</button>
      </div>
    </div>
  </section>
</div>
