<adapt-banner></adapt-banner>
<adapt-auth-banner
  label="Session Ended: Auth Error"
  message="Error"
  messageSubTitle="An error has occured"></adapt-auth-banner>

<section aria-label="error and relogin" class="timed-out-container display-flex flex-justify-center flex-align-center">
  <div class="timed-out-body display-flex flex-column maxw-desktop gap-3 padding-top-6">
    <h2 class="margin-0 font-xl">Oh no! Something went wrong.</h2>

    <p class="usa-prose maxw-tablet">
      We encountered an error while processing your request. Please try again in a few minutes. If the issue persists,
      contact support with the error code for assistance.
    </p>

    <button [routerLink]="['/auth', 'login']" class="usa-button flex-align-self-start">Sign back in</button>
  </div>
</section>
