:host {
  position: sticky;
  top: 0;
  display: flex;
  align-self: flex-start;
}

aside {
  width: 50vw;
  max-width: var(--usa-spacing-card-lg);
  > section {
    box-shadow: inset -1px 0px 0px 0px rgba(0, 0, 0, 0.1);
  }

  img.logo {
    max-width: var(--usa-spacing-6);
  }

  button {
    box-shadow: none;
    --usa-button-icon-size: var(--usa-font-size-lg);
  }

  a > i,
  li > button.site-nav > i {
    font-size: var(--usa-font-size-lg);
  }

  &.collapsed {
    // No var for spacing-13
    max-width: calc(var(--usa-spacing-15) - var(--usa-spacing-2));
    overflow-y: scroll;

    > section {
      gap: var(--usa-spacing-1px);
    }

    button,
    a.site-nav {
      --usa-button-font-size: var(--usa-font-size-3xs);
      flex-direction: column;
      gap: var(--usa-spacing-1);
      border: none;
      padding: var(--usa-spacing-1) var(--usa-spacing-05) var(--usa-spacing-05);

      > i {
        font-size: var(--usa-font-size-lg);
      }
    }

    .site-nav {
      padding: var(--usa-spacing-105) var(--usa-spacing-05) var(--usa-spacing-1);
    }

    .display-none-collapsed {
      display: none;
    }
  }

  .site-nav {
    font-size: var(--usa-button-font-size);
    text-decoration: none;
    border-radius: var(--usa-border-radius-lg);
    color: var(--usa-primary);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: var(--usa-spacing-1);
    padding-top: var(--usa-spacing-105);
    padding-bottom: var(--usa-spacing-105);
    padding-left: var(--usa-spacing-2);
    padding-right: var(--usa-spacing-2);
    line-height: var(--usa-line-height-1);
    text-align: center;
    background-color: transparent;
    border: none;

    &.active-nav {
      color: var(--usa-button-color);
      background-color: var(--usa-primary);
      font-weight: var(--usa-font-weight-semibold);
    }

    &:hover {
      color: var(--usa-button-color);
      background-color: var(--usa-primary-dark);
      text-decoration: none;
    }

    &.adapt-preview-button:not([disabled]) {
      background: pink;
    }
  }
}

button,
a.site-nav {
  &[disabled] {
    color: var(--usa-disabled-light) !important;
    background-color: transparent !important;
    border: var(--usa-border-width-2px) solid var(--usa-disabled-lighter) !important;
    cursor: not-allowed;
  }
}

@media all and (max-width: 39.99em) {
  :host {
    z-index: 101;
  }
  aside {
    max-width: 100vw;
    position: sticky;
    z-index: 6;
    right: 0;
    top: 0;
    min-width: 100vw;
    flex-direction: row;
    border-bottom: var(--usa-base-lighter) solid var(--usa-spacing-1px);

    &:not(.collapsed) {
      z-index: 200;
      max-width: 90vw;
      min-width: 90vw;
      position: fixed;
      #expand-menu-button {
        align-self: flex-end;
        width: auto;
        flex-direction: row-reverse;
        gap: var(--usa-spacing-1);
        font-size: var(--usa-font-size-md);
        outline-offset: 0;
        i {
          transform: rotate(180deg);
        }
      }

      > section {
        position: relative;
        z-index: 2;
      }
      &:before {
        content: '';
        display: block;
        position: fixed;
        background: rgba(33, 33, 33, 0.75);
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
      }
      .site-nav {
        font-size: var(--usa-font-size-md);
      }
    }

    &.collapsed {
      > section {
        flex-direction: row-reverse;
        padding: var(--usa-spacing-05) var(--usa-spacing-2);
        align-items: center;
        justify-content: space-between;
        gap: var(--usa-spacing-2);
      }

      .sidebar-header > div {
        padding: 0;
      }

      #expand-menu-button {
        width: auto;
        height: var(--usa-spacing-touch-target);
        padding: 0;
        font-size: var(--usa-font-size-md);
        outline-offset: 0;
        i {
          display: none;
        }
      }

      img.logo,
      nav {
        display: none;
      }

      .display-none-collapsed {
        display: flex;
      }

      .usa-icon-list {
        gap: var(--usa-spacing-2);
      }

      max-height: calc(var(--usa-spacing-touch-target) + var(--usa-spacing-1));
      min-height: unset;

      .site-nav span,
      .collapse-label {
        display: none;
      }
    }
  }
}
