<div class="impact-analysis-widget display-flex flex-column gap-2">
  <ng-container *ngIf="items | async | paginate: page : pageSize as itemsLoaded">
    <div class="impact-analysis-heading display-flex flex-column gap-2">
      <lib-adapt-h-element [level]="headingLevel"> Impact analysis </lib-adapt-h-element>

      <ng-container [ngSwitch]="type">
        <p *ngSwitchCase="'DataSource'">
          There are {{ dataViewCount }} data views(s) and {{ reportCount }} report(s) using this data source:
        </p>

        <p *ngSwitchCase="'DataView'">There are {{ reportCount }} report(s) using this data view:</p>

        <p *ngSwitchCase="'Glossary'">There are {{ reportCount }} report(s) using this glossary term:</p>
      </ng-container>

      <ng-container *ngIf="inAccordion && (reportCount > 0 || dataViewCount > 0)">
        <button
          [attr.aria-label]="'learn more about ' + name + ' impact analysis'"
          class="flex-align-self-start usa-button usa-button--unstyled"
          (click)="learnMore.emit(id)">
          To learn more, please click here.
        </button>
      </ng-container>
    </div>

    <div *ngIf="!inAccordion" class="impact-analysis-list display-flex flex-column gap-1">
      <h4 class="font-family-body margin-0 font-sm line-height-5 text-normal" id="showing" aria-live="polite">
        Showing up to
        <select
          [value]="pageSize"
          (change)="onPageSizeChange($event)"
          aria-labelledby="showing"
          class="usa-select margin-x-1 width-auto display-inline"
          name="options"
          id="options">
          <option [value]="5">5</option>
          <option [value]="10">10</option>
          <option [value]="25">25</option>
          <option [value]="50">50</option>
        </select>
        of {{ totalItems }} items
      </h4>

      <ng-container [ngSwitch]="type">
        <ng-container *ngSwitchCase="'DataSource'">
          <div
            *ngFor="let item of itemsLoaded; let i = index"
            class="impact-analysis-list-item display-flex flex-column gap-2">
            <div class="impact-analysis-item-heading display-flex flex-column gap-2">
              <h4 class="margin-0">{{ item.view.name }}</h4>
              <p *ngIf="item?.view.description">{{ item?.view.description }}</p>
            </div>

            <div class="impact-analysis-item-body">
              <p>Created By: {{ item.view.author }}</p>
            </div>

            <table *ngIf="item.reports.length; else noReports" class="usa-table usa-table--borderless width-full">
              <thead>
                <tr>
                  <th scope="col">Report Name</th>
                  <th scope="col">Status</th>
                  <th scope="col">Access</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of item.reports">
                  <td>
                    <a [routerLink]="['/admin', 'reports', row.reportID]">{{ row.name }}</a>
                  </td>
                  <td>{{ row.version | titlecase }}</td>
                  <td>Public</td>
                </tr>
              </tbody>
            </table>

            <ng-template #noReports>
              <p>No reports have been created with this data view</p>
            </ng-template>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="'DataView'">
          <!-- <div class="impact-analysis-item-heading">
                <h4 class="margin-0"><a [routerLink]="['/admin', 'reports', item.reportID]">{{item.name}}</a></h4>
                <p *ngIf="item?.description">{{item?.view.description}}</p>

            </div>

            <div class="impact-analysis-item-body">
                <p>Created By: {{item.author}}</p>
            </div>
 -->

          <table *ngIf="itemsLoaded?.length; else noReports" class="usa-table usa-table--borderless width-full">
            <thead>
              <tr>
                <th scope="col">Report Name</th>
                <th scope="col">Status</th>
                <th scope="col">Audience</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of itemsLoaded">
                <td>
                  <a [routerLink]="['/admin', 'reports', row.reportID]">{{ row.name }}</a>
                </td>
                <td>{{ row.version | titlecase }}</td>
                <td>Public</td>
              </tr>
            </tbody>
          </table>

          <ng-template #noReports>
            <p>No reports have been created with this data view</p>
          </ng-template>
        </ng-container>

        <lib-adapt-pagination [page]="page" [maxPages]="maxPages"></lib-adapt-pagination>
      </ng-container>
    </div>
  </ng-container>
</div>
