<dialog #modal aria-label="Adapt Dialog" class="full-page-modal bg-base-lightest">
  <div class="adapt-dialog-content-wrapper display-flex height-full flex-column">
    <div class="full-page-modal-header padding-2 bg-primary-dark text-white">
      <ng-content select="[header]"></ng-content>
    </div>
    <adapt-inactivity-banner></adapt-inactivity-banner>
    <div class="full-page-modal-body">
      <ng-content select="[body]"></ng-content>
    </div>
    <ng-content select="[extra]"></ng-content>
    <div class="full-page-modal-footer margin-top-auto padding-2 bg-white">
      <ng-content select="[footer]"></ng-content>
    </div>
  </div>
</dialog>
